<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js basics</title>
  </head>
  <body>
    <div id="app">
      <div>{{message}} Nice to meet vue</div>
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
      <h3>Type here:</h3>
      <textarea
        v-model="inputMessage"
        class="inputMessage"
        rows="5"
        maxlength="72"
      ></textarea>
      <p class="booktext">{{inputMessage}}</p>

      <span v-for="option in options" :key="option">
        <input
          v-model="checkedNames"
          :id="option.value"
          :value="option.value"
          type="checkbox"
        />
        <label for="option.value">{{option.value}}</label>
      </span>
      <br />
      <span>Checked names: {{checkedNames }}</span>
      <div>
        <h3>What's your favorite kind of burger?</h3>
        <textarea v-model="burgers"></textarea>
        <br />
        <button v-if="burgers" type="submit">Let us know!</button>
      </div>

      <div id="app">
        <h3>Do you like burgers?</h3>
        <input v-model="burgers" value="yes" type="radio" id="yes" />
        <label for="yes">yes</label>
        <br />
        <input v-model="burgers" value="no" type="radio" id="no" />
        <label for="no">no</label>
        <br />
        <p v-if="burgers==='yes'" class="thumbs">👍</p>
        <p v-else-if="burgers==='no'" class="thumbs">You are a crazy man</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const App = {
        data() {
          return {
            message: "Hello World!",
            items: [
              "thingie",
              "another thingie",
              "lots of stuff",
              "more and more",
            ],
            inputMessage: "",
            checkedNames: [],
            options: [
              { value: "Carmit" },
              { value: "Tal" },
              { value: "Lior" },
              { value: "Rachel" },
            ],
            burgers: "",
          };
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
