<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js basics</title>
  </head>
  <body>
    <div id="app">
      <div>{{message}} Nice to meet vue</div>
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
      <h3>Type here:</h3>
      <textarea
        v-model="inputMessage"
        class="inputMessage"
        rows="5"
        maxlength="72"
      ></textarea>
      <p class="booktext">{{inputMessage}}</p>

      <span v-for="option in options" :key="option">
        <input
          v-model="checkedNames"
          :id="option.value"
          :value="option.value"
          type="checkbox"
        />
        <label for="option.value">{{option.value}}</label>
      </span>
      <br />
      <span>Checked names: {{checkedNames }}</span>
      <div>
        <h3>What's your favorite kind of burger?</h3>
        <textarea v-model="burgers"></textarea>
        <br />
        <button v-if="burgers" type="submit">Let us know!</button>
      </div>

      <div id="app">
        <h3>Do you like burgers?</h3>
        <input v-model="burgers" value="yes" type="radio" id="yes" />
        <label for="yes">yes</label>
        <br />
        <input v-model="burgers" value="no" type="radio" id="no" />
        <label for="no">no</label>
        <br />
        <p v-if="burgers==='yes'" class="thumbs">👍</p>
        <p v-else-if="burgers==='no'" class="thumbs">You are a crazy man</p>
      </div>

      <div class="row">
        <input v-model.number="num1" type="number" /><span>+</span
        ><input v-model.number="num2" type="number" /><span>=</span>
        <span>{{num1 + num2}}</span>
        <div class="app">
          <select v-model="topping" placeholder="topping">
            <option>Cheese</option>
            <option>Onion</option>
            <option>Guaquamoli</option>
          </select>
          <p v-if="topping">My favorite topping on the burger is {{topping}}</p>
        </div>
      </div>
      <div
        id="colores"
        @mousemove="xCoordinate"
        :style=" {backgroundColor: `hsl(${x}, 80%, 50%)`,height:'100px'}"
      >
        <p>
          <button @click="increament">+</button>
          <span :style="{padding:'5%'}">{{counter}}</span
          ><button @click="decreament">-</button>
        </p>
      </div>
      <div v-for="movie in ratingInfo"><h3>{{movie.name}}</h3></div>
      <button @click="sortHighest">highest to lowest</button>
      <button @click="sortLowest">oposite</button>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const App = {
        data() {
          return {
            message: "Hello World!",
            items: [
              "thingie",
              "another thingie",
              "lots of stuff",
              "more and more",
            ],
            inputMessage: "",
            checkedNames: [],
            options: [
              { value: "Carmit" },
              { value: "Tal" },
              { value: "Lior" },
              { value: "Rachel" },
            ],
            burgers: "",
            num1: "",
            num2: "",
            topping: "",
            counter: 0,
            x: 10,
            ratingInfo: [
              { name: "star wars", rating: 7 },
              { name: "wonderwoman", rating: 9 },
            ],
          };
        },
        methods: {
          increament() {
            this.counter++;
          },
          decreament() {
            this.counter--;
          },
          xCoordinate(e) {
            console.log(e);
            this.x = e.clientX;
          },
          sortLowest() {
            this.ratingInfo.sort((a, b) => (a.rating > b.rating ? 1 : -1));
          },
          sortHighest() {
            this.ratingInfo.sort((a, b) => (a.rating > b.rating ? -1 : 1));
          },
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
